contact_address.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="ContactAddressService"
    targetNamespace="http://localhost/soap_api/"
    xmlns:tns="http://localhost/soap_api/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns="http://schemas.xmlsoap.org/wsdl/"
    >

    <types>
        <schema targetNamespace="http://localhost/soap_api/" xmlns="http://www.w3.org/2001/XMLSchema">
            <complexType name="Contact">
                <sequence>
                    <element name="id" type="xsd:int"/>
                    <element name="name" type="xsd:string"/>
                    <element name="phone" type="xsd:string"/>
                </sequence>
            </complexType>

            <complexType name="Address">
                <sequence>
                    <element name="id" type="xsd:int"/>
                    <element name="street" type="xsd:string"/>
                    <element name="city" type="xsd:string"/>
                </sequence>
            </complexType>
        </schema>
    </types>

    <message name="GetContactRequest">
        <part name="id" type="xsd:int"/>
    </message>
    <message name="GetContactResponse">
        <part name="contact" type="tns:Contact"/>
    </message>

    <message name="GetAddressRequest">
        <part name="id" type="xsd:int"/>
    </message>
    <message name="GetAddressResponse">
        <part name="address" type="tns:Address"/>
    </message>

    <portType name="ContactAddressPortType">
        <operation name="GetContact">
            <input message="tns:GetContactRequest"/>
            <output message="tns:GetContactResponse"/>
        </operation>
        <operation name="GetAddress">
            <input message="tns:GetAddressRequest"/>
            <output message="tns:GetAddressResponse"/>
        </operation>
    </portType>

    <binding name="ContactAddressBinding" type="tns:ContactAddressPortType">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="GetContact">
            <soap:operation soapAction="http://localhost/soap_api/GetContact"/>
            <input><soap:body use="encoded" namespace="http://localhost/soap_api/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></input>
            <output><soap:body use="encoded" namespace="http://localhost/soap_api/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></output>
        </operation>
        <operation name="GetAddress">
            <soap:operation soapAction="http://localhost/soap_api/GetAddress"/>
            <input><soap:body use="encoded" namespace="http://localhost/soap_api/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></input>
            <output><soap:body use="encoded" namespace="http://localhost/soap_api/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></output>
        </operation>
    </binding>

    <service name="ContactAddressService">
        <port name="ContactAddressPort" binding="tns:ContactAddressBinding">
            <soap:address location="http://localhost/soap_api/server.php"/>
        </port>
    </service>
</definitions>